 body,
html,
#root {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    background: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXloMDBmdDMzejhkbWVmeHh3OTh0M3EzZ3RkbWozaXdrOHNlN2tnMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7bug2wkdhpf7kbFS/giphy.webp');
    background-size: cover;
    background-position: center;
    font-family: orbitron;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: white;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 20px;
    animation: pulse 2s infinite;
}
 .alarm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  border-radius: 3.125rem;
  backdrop-filter: blur(1.5px);
  padding: 1.25rem;
  animation: pulse 2s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 .global-clock{
  font-size: 2rem;
  color: white;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  padding: 20px;
  animation: pulse 2s infinite;
 }

 .button-container{
  display: flex;
  width: 12.5rem;
  justify-content: space-between;
 }

 .alarm input{
  width: 4.375rem;
 }

 .stopwatch{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  border-radius: 3.125rem;
  backdrop-filter: blur(1.5px);
  padding: 1.25rem;
  animation: pulse 2s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .alarm input[type="time"], .global-clock select, .stopwatch button {
  margin-right: 0.625rem;
  padding: 0.313rem 0.625rem;
  font-size: 1rem;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 0.313rem;
  transition: background-color 0.3s ease;
  margin-bottom: 0.625rem;
}

.alarm button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

 .alarm input[type="time"]:focus, .global-clock select:focus, .stopwatch button:focus {
    outline: none;
  }
  
  .alarm button, .stopwatch button {
    padding: 0.313rem 0.625rem;
    font-size: 1rem;
    background-color: #00ffea;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.313rem;
    transition: background-color 0.3s ease;
  }
  
  .alarm button:hover, .stopwatch button:hover {
    background-color: rgba(0, 255, 234, 0.8);
  }
  
  .selected-countries {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .global-clock button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .global-clock button {
    padding: 0.313rem 0.625rem;
    font-size: 1rem;
    background-color: #00ffea;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.313rem;
    transition: background-color 0.3s ease;
  }

  .country-clock {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }
  
  .country-clock > div {
    margin-bottom: 10px;
  }
  
  .country-clock button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .country-clock button:hover {
    background-color: #ff5555;
  } 

  .tab {
    font-size: 1.5rem;
    font-weight: 700; 
    cursor: pointer; 
    color: white;
    animation: pulse 2s infinite; 
    opacity: .4; 
    transition: opacity .4s ease-in-out;
    display: block; 
    width: calc(100% - 3rem);
    text-align: right; 
    z-index: 101; 
    user-select: none;
    text-align: left;
    padding: 1rem; /* Adicione padding para melhorar a área clicável */
  }
  
  .tab:hover,
  .tab.active {
    opacity: 1;
  }
  
  .navegate-bar {
    height: 100vh;
  }
  
  .tabs {
    max-width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    position: relative;
  }
  
  .marker {
    position: absolute; 
    width: 100%;
    height: 200vh;
    display: flex; 
    flex-direction: column;
    top: calc(-100%);
    left: 0;
    transition: transform .2s ease-in-out; 
  }
  
  .marker #bottom, .marker #top {
    backdrop-filter: blur(2px);
    border: 1px solid white;
    box-shadow: 2rem 2rem 2.375rem #2e364315; 
  }
  
  .marker #top {
    height: calc(50%);
    margin-bottom: auto; 
    border-radius: 0 0 2rem 0; 
  }
  
  .marker #bottom {
    height: calc(50% - 4.5rem);
    border-radius: 0 2rem 0 0; 
  }
  

  @keyframes pulse {
    0% {
        text-shadow:
            0 0 5px rgba(0, 255, 234, 0.75),
            0 0 10px rgba(0, 255, 234, 0.75),
            0 0 15px rgba(0, 255, 234, 0.75),
            0 0 20px rgba(0, 255, 234, 0.5),
            0 0 30px rgba(0, 255, 234, 0.5),
            0 0 40px rgba(0, 255, 234, 0.5);
    }

    50% {
        text-shadow:
            0 0 10px rgba(0, 255, 234, 1),
            0 0 20px rgba(0, 255, 234, 1),
            0 0 30px rgba(0, 255, 234, 1),
            0 0 40px rgba(0, 255, 234, 0.75),
            0 0 60px rgba(0, 255, 234, 0.75),
            0 0 80px rgba(0, 255, 234, 0.75);
    }

    100% {
        text-shadow:
            0 0 5px rgba(0, 255, 234, 0.75),
            0 0 10px rgba(0, 255, 234, 0.75),
            0 0 15px rgba(0, 255, 234, 0.75),
            0 0 20px rgba(0, 255, 234, 0.5),
            0 0 30px rgba(0, 255, 234, 0.5),
            0 0 40px rgba(0, 255, 234, 0.5);
    }
}